@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply transition-colors duration-100;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.swiper1 {
  height: 420px;
  padding: 0 10px !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets
.swiper-pagination-horizontal {
  bottom: -5px !important;
}

.swiper-container1 {
  width: 480px;
}
.whats_button{

  border: none !important;
  outline: none !important;
  position: fixed !important;
  bottom: 18px !important;
  right: 10px !important;
  z-index: 9 !important;
  box-shadow: 8px 8px 18px 0px rgba(42, 67, 113, 0.3) !important;
  transition: all 0.3s ease-in-out !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  padding: 10px 15px !important;
  line-height: 1 !important;
  margin: 0 !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  background: #0e9c45 !important;
  cursor: pointer !important;
  border: 1px solid transparent !important;
  outline: 0 !important;
  color: #fff !important;
  overflow: hidden !important;
  width: 50px;
  height: 50px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;

}
.whats_button svg{
  font-size: 20px !important;
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}


.swiper-pagination-bullet-active {
  background-color: #06A580 !important; /* Main color for active dot */
}
.swiper-button-next,
.swiper-button-prev {
 
  width: 30px !important;
  height: 30px !important;
  background-color: #06A580; /* Add a background color */
  border-radius: 50%; /* Make them circular */
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important; /* Adjust the size of the arrow */
  color: white;
  font-weight: bold;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  top:60px !important;
}


.swiper-pagination {
  bottom: 10px; /* Adjust as needed */
  position: absolute;
  text-align: center;
  width: 100%;
}

.swiper-pagination-bullet {
  background: #000; /* Bullet color */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}
