@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply transition-colors duration-100;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.swiper {
  height: 420px;
  padding: 0 10px !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets
.swiper-pagination-horizontal {
  bottom: -5px !important;
}

.swiper-container {
  width: 480px;
}

